  .container{
    margin:2px 0px 0px 0px;
    padding:0px;
    border: 2px solid;
    font-size: 20px;
    display:flex;
    justify-content:center;
  }
  .forms-child {
    width: 80%;
    border: 2px solid;
    margin:5px;
    padding:5px;
    display:flex;
    flex-direction:column;
    align-items:center;

  }
 .select {
    font-size: 14pt;
    font-family: "Times New Roman";
    margin:2px;
 }
 .tbl-div{
    width: 80%;
    margin: 2px;

 }
 .table {
    width: 100%;
 }

 .table th {
      background: #f1f1f1;
      font-size: 12pt;
      font-weight: 600;
      padding: 2px 6px 2px 6px;
 }
 .table td {
      font-size: 12pt;
      background: #f9f9f9;
      padding: 2px 6px 2px 6px;
 }
 .col-num {
    width: 15%;
 }
  .col-basic {
     width: 60%;
  }
  .col-action {
     width: 25%;
  }