<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое ТС</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>
<body>
	<div class="container">

		<form class="forms-child"
			  th:method="post"
			  th:action="@{/addDevice}"
			  th:object="${deviceDTO}">

			<div th:if="${success}" class="" role="alert">
				<strong>Техническое средство создано!</strong>
			</div>
			<span>
				<h3>Создать техническое средство </h3>
			</span>
			<div class ="tbl-div">
				<input type="hidden" th:value="${modelDevice}" th:field="*{model}">
				<table class="table" id="tblDevice">
					<tr>
						<th class ="dev-col-num">№</th>
						<th>Тип</th>
						<th>Модель</th>
						<th>Серийные №</th>
						<th>Инвентарный №</th>
					</tr>

					<tr>
						<td class ="dev-col-num">1</td>
						<td><b th:text="${modelDevice.type.type}"></b></td>
						<td><b th:text="${modelDevice.name}"></b></td>
						<td><input type="text" id="ser_num1" name="ser_num" th:field="*{ser_num}"/></td>
						<td><input type="text" id="inv_num1" name="inv_num" th:field="*{inv_num}"/></td>
					</tr>
				</table>
			</div>

			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Добавить</button>
				<a href="/device" class="a-btn">Назад</a>
			</span>
		</form>
	</div>
</body>

</html>