<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Модель ТС</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>
<body>
	<div class="container">

		<form class="forms-child"
			  th:method="post"
			  th:action="@{/add-model-dev}"
			  th:object="${modelDeviceDTO}">

			<div th:if="${success}" class="" role="alert">
				<strong>Модель создана!</strong>
			</div>
			<span>
				<h3>Создать модель ТС </h3>
			</span>
			<span>
				<input type="hidden" th:value="${type}" th:field="*{type}">
				<b th:text="*{type.type}"></b>
				<input type="text" id="curModelDev" name="ModelDev" th:field="*{name}"/>
			</span>

			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Добавить</button>
				<a href="/model" class="a-btn">Назад</a>
			</span>
		</form>
	</div>
</body>

</html>