<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тип ТС(редактирование)</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
	<div id="nav_bar">
		<script src="js/navbar.js"></script>
	</div>
</header>
<body>
	<div class="container">
		<form class="forms-child"
			  th:method="post"
			  th:action="@{/addTypeDev}"
			  th:object="${typeDeviceDTO}">

			<div th:if="${success}" class="" role="alert">
				<strong>Изменения внесены успешно!</strong>
			</div>
			<span style="margin:30px 5px 15px 5px">
				<input type="hidden" th:value="${id}" th:field="*{id}">
				<b>Создать новый тип ТС:</b>
				<input type="text" id="curTypeDev" name="TypeDev" th:field="*{type}"/>
			</span>
			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Сохранить</button>
				<a href="/type" class="a-btn">Назад</a>
			</span>
		</form>
	</div>
</body>

</html>