<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(ТС)Технические средства</title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style-form.css">
	<script src="js/jquery-3.7.1.js"></script>
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>

<body>
	<span class="container">
		<form class="forms-operation"
			  th:method="post"
			  th:action="@{/anchDevice}"
			  th:object="${deviceDTO}">

			<div class="container-inner">
				<div class="filter">
					<span>
						<label for="selTypeDev">Тип: </label>
						<select  id="selTypeDev"  change="loadSelectDevModel()">
							<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}"></option>
						</select>
						<script>
							$('#selTypeDev option[value=0]').prop('selected',true);
						</script>

						<label for="selModelDev">Модель: </label>
						<select  id="selModelDev" th:field="*{modelDevice}"></select>

						<label for="selCSA">КСА: </label>
						<select  id="selCSA" th:field="*{csa}">
							<option th:each="csa : ${csas}" th:value="${csa.id}" th:text="${csa.num}"></option>
						</select>

						<label for="filtrSN">Серийный номер(фильтр): </label>
						<input type="text" id="filtrSN" name="filtrSN"/>
						<button type="button" id="btnFiltrSn" class="a-btn">Применить</button>
					</span>
				</div>
				<div>


					<input id="idDev"  type="hidden" th:value="${id}" th:field="*{id}">
					<input id="SerNo" type="hidden" th:value="${sernum}" th:field="*{sernum}">
					<input id="InvNo" type="hidden" th:value="${invnum}" th:field="*{invnum}">
					<input id="prevTypeDev" type="hidden" th:value="${deviceDTO.modelDevice.type.type}">
					<input id="prevModelDev" type="hidden" th:value="${deviceDTO.modelDevice.name}">


				</div>
				<div class ="tbl-div">
					<table class="table" id="tblDevice">
						<tr>
							<th class ="dev-col-num">№</th>
							<th>Тип</th>
							<th>Модель</th>
							<th>Серийные №</th>
							<th>Инвентарный №</th>
							<th>КСА</th>
							<th class ="dev-col-action">Действие</th>
						</tr>
					</table>
				</div>
			</div>
			<div>
				<span id="link"></span>
				<span><a href="/" class="a-btn">Назад</a></span>
				<input type="submit" id="btnSend" style="display:none;">

			</div>
			<script>
				$(document).ready(setPrevTypeDev);
				$(document).ready(loadSelectDevModel);
				$(document).ready(initEvent);

				function setPrevTypeDev(){
					var prevTypeDev=$('#prevTypeDev').val();
					console.log("prevTypeDev:= "+prevTypeDev);
                	$('#selTypeDev option:contains(\''+ prevTypeDev + '\')').prop('selected',true);
				}


                function initEvent() {
                    $('#selTypeDev').bind('change', loadSelectDevModel);
                    $('#selModelDev').bind('change', eventSelModelDev);
                    $('#btnFiltrSn').bind('click', eventSelModelDev);
                }

                function loadSelectDevModel() {

                		var selTypeIndex=$('#selTypeDev').val();
						var selTypeText=$('#selTypeDev option:selected').text();
                    	$.getJSON('/device/model' + selTypeText)
                    	 .done(function (data) {
                    		$('#selModelDev').empty().prop('disabled', false);
                    		console.log(data);
							var models=data;
							console.log(models);

							$.each(models, function(i,item) {
    							$('#selModelDev').append('<option value="' + models[i].id+ '">' + models[i].name + '</option>');
							});



							/** $('#selModelDev option[value=0]').prop('selected',true); **/

							var prevModelDev=$('#prevModelDev').val();
							console.log("prevModelDev:= "+prevModelDev);
                			$('#selModelDev option:contains(\''+ prevModelDev + '\')').prop('selected',true);

							var selModelIndex=$('#selModelDev').val();
							var filterSN=$('#filtrSN').val();




							loadTableDevice(selModelIndex,filterSN);
                       });

                }
                function eventSelModelDev() {
                	var selModelIndex=$('#selModelDev').val();
                	console.log("selModelIndex="+selModelIndex);
                	var filterSN=$('#filtrSN').val();
                	console.log("filterSN="+filterSN);
                	loadTableDevice(selModelIndex,filterSN)
                }
				function loadTableDevice(selModelIndex,filterSN) {

					console.log("selModelIndex="+selModelIndex);
					console.log("filterSN="+filterSN);
					$('#link').empty().prop('disabled', false);
					$.getJSON('/device' + selModelIndex+'&'+filterSN)
                    	 .done(function (data) {
                    		$('#tblDevice').empty().prop('disabled', false);
                    		console.log(data);
							var models=data;
							console.log(models);
							$('#tblDevice').append('<tr><th class ="dev-col-num">№</th><th>Тип</th><th>Модель</th><th>Серийный №</th><th>Инвентарный №</th><th>КСА</th><th>Действие</th><tr>');
							$.each(models, function(i,item) {
    							$('#tblDevice').append('<tr><td class ="dev-col-num">' + i +
    												   '</td><td>' + models[i].type +
    												   '</td><td>' + models[i].model +
    												   '</td><td>' + models[i].sernum +
    												   '</td><td>' + models[i].invnum +
    												   '</td><td>' + models[i].csa +
    												   '</td><td><button id="btnSelected" type="button" class="a-btn" onclick ="GoToAnchDevice(' + models[i].id + ', \'' + models[i].sernum +'\', \'' + models[i].invnum + '\')">Выбрать</button></td><tr>');
							});
                       });

				}

				function GoToAnchDevice(idDev, SerNo, InvNo){
					console.log("GoToAnchDevice...");
					console.log("idDev:="+idDev);
					$('#idDev').val(idDev);
					$('#SerNo').val(SerNo);
					$('#InvNo').val(InvNo);
					$('#btnSend').click();
				}
			</script>

		</form>
	</span>
</body>

</html>