<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(ТС)Технические средства</title>
    <link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-3.7.1.js"></script>
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>

<body>
	<div>
		<form class="auth_form"
			  th:method="post"
			  th:action="@{/device}"
			  th:object="${deviceDTO}">

			<div class="auth_form_div">
				<label for="devType">Тип: </label>
				<select  id="devType" th:field="*{type}">
					<option value="0">Тип</option>
					<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}"></option>
				</select>
				<script>
					$('#devType option[value=2]').prop('selected',true);
				</script>
				<label for="devModel">Модель: </label>
				<select  id="devModel" th:field="*{model}">
					<option value="0">Модель</option>
					<option th:each="model : ${models}" th:value="${model.id}" th:text="${model.name}"></option>
				</select>
				<label for="devSN">Серийный номер: </label>
				<select  id="devSN" th:field="*{ser_num}">
					<option value="0">Серийный номер</option>
					<option th:each="device : ${devices}" th:value="${device.id}" th:text="${device.ser_num}"></option>
				</select>
			</div>

			<!--<script>
				src="js/jquery-3.7.1.js"
				$("#devModel").remoteChained({
				parents : "#devType",
				url : "/device/model"
				});
				$("#devSN").remoteChained({
				parents : "#devModel",
				url : "/device/device"
				});
			</script>-->


			<div class="auth_form_div_btn">
				<button type="submit">Выбрать</button>
			</div>
		</form>
	</div>
</body>

</html>