<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(З)Заявки</title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style-form.css">
	<script src="js/jquery-3.7.1.js"></script>
	<script src="js/moment.js"></script>
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>

<body>
	<div class="container">

		<form id="addOrder" class="forms-operation"
			  th:method="post"
			  th:action="@{/editOrder}"
			  th:object="${ordersDTO}">
			<div class="container-addOrder">
				<div  style="text-align:center" th:if="${success}" role="alert">
					<h3>Заявка успешно сохранена!</h3>
				</div>
				<div style="text-align:center" th:if="!${success}">
					<h3>Создать заявку </h3>
				</div>

				<div class ="tbl-div">
					<input id ="idOrder" type="hidden" th:value="${id}" th:field="*{id}">
					<input id ="idCSA" type="hidden" th:value="${idCSA}" th:field="*{idCSA}">
					<input id ="idDevice" type="hidden" th:value="${idDevice}" th:field="*{idDevice}">
					<table class="table" id="tblOrder">
						<tr>
							<td style=" font-weight: 600">Дата</td>
							<td class="AlignCenter">
								<input sec:authorize="hasRole('ROLE_CSA') or hasRole('ROLE_SERV')"
									   id="orderData" type="date" th:value="${date}" th:field="*{date}"/>
								<input sec:authorize="hasRole('ROLE_EXECDEV')"
									   id="orderDataText" type="text" th:value="${date}" th:field="*{date}" readonly/>
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Заявка №</td>
							<td class="AlignCenter">
								<input sec:authorize="hasRole('ROLE_CSA') or hasRole('ROLE_SERV')"
									   type="text" id="orderNum" name="orderNum" th:value="${num}" th:field="*{num}"/>
								<input sec:authorize="hasRole('ROLE_EXECDEV')"
									   type="text" id="orderNumText" name="orderNum" th:value="${num}" th:field="*{num}"/>
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">КСА</td>
							<td class="AlignCenter">
								<label id="lblOrderCSA" for="orderCSA" th:text="${ordersDTO.csa.num}+', '+${ordersDTO.csa.address}"></label>
								<input type="hidden" id="orderCSA" th:value="${csa}" th:field="*{csa}">
							</td>
							<td><button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SERV')" id="btnSelCSA" type="submit" class="a-btn">Выбрать КСА</button></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Техническое средство</td>
							<td class="AlignCenter">
								<label id="lblOrderDevice"  for="orderDevice"
									   th:text="${ordersDTO.device.model.type.type} + ': ' +
												${ordersDTO.device.model.name}"></label>
								<input type="hidden" id="orderDevice" th:value="${device}" th:field="*{device}">
							</td>
							<td><button  sec:authorize="hasRole('ROLE_CSA') or hasRole('ROLE_SERV')"
										 id="btnSelDev" type="submit" class="a-btn">Выбрать ТС</button></td>
						</tr>
						<tr>
							<td>Серийный №</td>
							<td class="AlignCenter">
								<label id="lblOrderDeviceSN"  for="orderDevice"
									   th:text="${ordersDTO.device.sernum} "></label>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Инвентарный №</td>
							<td class="AlignCenter">
								<label id="lblOrderDeviceIN"  for="orderDevice"
									   th:text="${ordersDTO.device.invnum}"></label>
								<input type="hidden" id="orderDeviceIN" th:value="${device}" th:field="*{device}">
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Статус</td>
							<td class="AlignCenter">
								<label id="lblOrderStatus" for="orderStatus" th:text="${ordersDTO.status}"></label>
								<input type="hidden" id="orderStatus" name="orderStatus" th:field="*{status}"/>
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Описание</td>
							<td class="AlignCenter">
								<input type="text" id="orderDescription" style="width:99%;text-align:center" name="orderDescription"  th:value="${description}" th:field="*{description}"/>
							</td>
							<td></td>
						</tr>

						<tr>
							<td style=" font-weight: 600">Исполнитель</td>
							<td class="AlignCenter">
								<!-- <label id="lblOrderExecutor"  for="orderExecutor"
									   th:text="${ordersDTO.executor.email}"></label> -->

								<!-- <input type="hidden" id="orderExecutor" style="width:99%;text-align:center" name="orderExec"  th:value="${executor}" th:field="*{executor}"/> -->
								<select
										 id="selExecOrder"
										 class="select"
										 th:field="*{executor}">
									<option th:each="exec : ${execs}"
											th:value="${exec.id}"
											th:text="${exec.email}"
											th:selected="${exec.id == ordersDTO.executor.id}">
									</option>
								</select>
							</td>
							<td></td>
						</tr>
						<tr >
							<td  style=" font-weight: 600">Восстановление КСА</td>
							<td  class="AlignCenter">
								<!-- <label id="lblOrderExecutor"  for="orderExecutor"
									   th:text="${ordersDTO.executor.email}"></label> -->

								<!-- <input type="hidden" id="orderExecutor" style="width:99%;text-align:center" name="orderExec"  th:value="${executor}" th:field="*{executor}"/> sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SERV')"-->
								<select  sec:authorize="!hasRole('ROLE_CSA')"
										 id="selRestore"
										 class="select"
										 th:field="*{restore}">
									<option th:each="restore : ${restoreMethods}"
											th:value="${restore.id}"
											th:text="${restore.method}"
											th:selected="${restore.id == ordersDTO.restore.id}">
									</option>
								</select>
								<input sec:authorize="hasRole('ROLE_CSA')"
									   id ="textRestore"
									   type="hidden"
									   th:value="${restore}"
									   th:field="*{restore}">
								<label sec:authorize="hasRole('ROLE_CSA')"
									   id="lblRestore"
									   for="orderStatus"
									   th:text="${ordersDTO.restore.method}">
								</label>
							</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Сохранить</button>
				<a href="/Orders" class="a-btn">Назад</a>
			</span>
		</form>
	</div>
	<script>

        $(document).ready(initEvent);

        function initEvent() {
            $('#btnSelCSA').bind('click', selCSA);
            $('#btnSelDev').bind('click', selDev);
            $('#orderData').bind('change', setOrderNumDate);
        }

        function setOrderNumDate(){
			var orderDate=moment($('#orderData').val()).format('YYYYMMDD');
			console.log("orderDate:= "+orderDate);
			$('#orderNum').val(orderDate+$('#orderNum').val());
        }

		function selCSA(){
			var orderNum=$('#orderNum').val();
			console.log("orderNum:= "+orderNum);
			$('#addOrder').attr("action","/selCSA")
		}
		function selDev(){
			console.log("selDev...");
			$('#addOrder').attr("action","/selDevice")
		}

	</script>

</body>
</html>