<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тип ТС(редактирование)</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>
<body>
	<div class="container">
		<form class="forms-child"
			  th:method="post"
			  th:action="@{/editTypeDev}"
			  th:object="${typeDeviceDTO}">

			<div th:if="${success}" class="" role="alert">
				<strong>Изменения внесены успешно!</strong>
			</div>
			<span>
				<input type="hidden" th:value="${id}" th:field="*{id}">
				<b>Тип ТС:</b>
				<input type="text" id="curTypeDev" name="TypeDev" th:text = "${type}" th:field="*{type}"/>
			</span>
			<span>
				<button type="submit">Сохранить</button>
			</span>
		</form>
	</div>
</body>

</html>