<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое ТС</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
	<div id="nav_bar">
		<script src="js/navbar.js"></script>
	</div>
</header>
<body>
	<div class="container">

		<form class="forms-child"
			  th:method="post"
			  th:action="@{/editDevice}"
			  th:object="${deviceDTO}">


			<div th:if="${success}" class="" role="alert">
				<br>
				<strong>Изменения в техническом средстве сохранены!</strong>
			</div>
			<span>
				<h3>Редактировать техническое средство </h3>
			</span>
			<div class="container-inner">
				<div class ="tbl-div">
					<table class="table" id="tblDevice">
						<tr>
							<th class ="dev-col-num">№</th>
							<th>Тип</th>
							<th>Модель</th>
							<th>Серийные №</th>
							<th>Инвентарный №</th>
						</tr>
						<tr>
							<td class ="dev-col-num">1</td>
							<td class="AlignCenter"><p class="notMarginAndPadding" th:text="${deviceDTO.modelDevice.type.type}"></p></td>
							<td class="AlignCenter"><p class="notMarginAndPadding" th:text="${deviceDTO.modelDevice.name}"></p></td>
							<td class="AlignCenter"><input class="tbl-td-input-text" type="text" id="sernum" name="sernum"  th:field="*{sernum}"/></td>
							<td class="AlignCenter"><input class="tbl-td-input-text" type="text" id="invnum" name="invnum"  th:field="*{invnum}"/></td>
						</tr>
					</table>
					<input type="hidden" th:value="${id}" th:field="*{id}">
					<input type="hidden" th:value="${modelDevice}" th:field="*{modelDevice}">
					<input type="hidden" th:value="${csa}" th:field="*{csa}">
				</div>
			</div>
			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Сохранить</button>
				<a href="/device" class="a-btn">Назад</a>
			</span>
		</form>
	</div>
</body>

</html>