<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Движение ТС</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
	<div id="header">
		
		<span class ="header_img">
			<div>
				<img src="img/head_img1.jpg">
			</div>
		</span>
		<span class ="header_label">
			<div id="header_div_label">
				<h1>Учет движения технических средств</h1>
			</div>
		</span>
		<span class ="header_img">
			<div>
				<img src="img/head_img2.jpg">
			</div>
		</span>
		
	</div>
	<div id="nav_bar">
        <nav>
            <ul class="nav_bar_ul">
                <li><a href="#">Заявка</a></li>
                <li><a href="#">Акты движения ТС</a></li>
                <li><a href="#">Отчеты</a></li>
                <li><a href="#">Справочник</a></li>
				<li><a href="#">Настройки</a></li>
            </ul>
        </nav>
		<nav>
            <ul class="nav_bar_ul">
                <li><a target="container" href="/authUser">Вход</a></li>
                <li><a href="#">Выход</a></li>
                <li><a href="/regUser">Регистрация</a></li>
               
            </ul>
        </nav>
		
    </div>
	
</header>

<body>
	<div class="body_parent">
		<iframe name="container"></iframe>
	</div>

</body>

</html>