<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Движение ТС</title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style-headers.css">
</head>
<header>
	<div id="header">
		
		<span class ="header_img">
			<div>
				<img src="img/head_img1.jpg">
			</div>
		</span>
		<span class ="header_label">
			<div id="header_div_label">
				<h1 style="text-align: center">Обеспечение комплексов средств автоматизации</h1>
			</div>
		</span>
		<span class ="header_img">
			<div>
				<img src="img/head_img2.jpg">
			</div>
		</span>
		
	</div>

	<div th:fragment="navigation" id="nav_bar">
        <nav>
            <ul class="nav_bar_ul">
                <li class ="li-horizontally"><a href="/Orders" th:href="@{/Orders}">Заявка</a></li>
                <li class ="li-horizontally">
					<!-- <a href="#">Акты движения ТС</a> -->
					<span class="dropdown">
						<button class="dropbtn">Движения ТС
							<i class="fa fa-caret-down"></i>
						</button>
						<span class="dropdown-content">
							<a href="/Acts/ActsDev" th:href="@{/Acts/ActsDev}">Акты приема-передачи ТС</a>
							<a href="/anchDevice" th:href="@{/anchDevice}">Закрепление ТС</a>
						</span>
					</span>
				</li>
                <li class ="li-horizontally">
				<span class="dropdown">
						<button class="dropbtn">Отчеты
							<i class="fa fa-caret-down"></i>
						</button>
						<span class="dropdown-content">
							<a href="/Query/overdueOrders" th:href="@{/Query/overdueOrders}">Заявки более 5 дней</a>
						</span>
					</span>

				</li>

                <li class ="li-horizontally" style="margin-left:-2px;">
					<span class="dropdown">
						<button class="dropbtn">Справочники
							<i class="fa fa-caret-down"></i>
						</button>
						<span class="dropdown-content">
							<a href="/device" th:href="@{/device}">Технические средства (ТС)</a>
							<a href="/type" th:href="@{/type}">Тип ТС</a>
							<a href="/model" th:href="@{/model}">Модель ТС</a>
							<a href="/csa" th:href="@{/csa}">КСА</a>
						</span>
					</span>
				<li class="li-horizontally" style="margin-left:0px";>
                  <span class="dropdown">
                       <button class="dropbtn">Настройки
                            <i class="fa fa-caret-down"></i>
                       </button>
                       <span class="dropdown-content">
						   <a href="/Users/showUsers">Пользователи</a>
                           <a href="/Users/regUser">Создать пользователя</a>
                       </span>
                  </span>
				</li>
			</ul>
        </nav>
		<nav>
				<span>
					<h3 sec:authorize="isAuthenticated()" class="nav_bar_span_h" sec:authentication="name">Username</h3>
				</span>
		</nav>
		<nav>
            <ul class="nav_bar_ul">
				<li class ="li-horizontally">
					<form class="form_logout" sec:authorize="isAuthenticated()" method="post" action="/logout">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<button type="submit" class="button_no_borders">Выход</button>
					</form>
				</li>
                <li class ="li-horizontally"><a href="/login" th:href="@{/login}">Вход</a></li>


               
            </ul>
        </nav>
		
    </div>
	
</header>

<body>
	<div class="body_parent">
		<iframe name="container"></iframe>
	</div>

</body>

</html>