<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="auth">
	<span>



		<div th:if="${param.error}">Не правильный пароль</div>
		<div th:if="${param.logout}">Не правильный логин</div>
		<div>
				<form class="auth_form" method="post" th:action="@{/login}">
					<div class="auth_form_div">
						<label for="input_login">Логин: </label>
						<input type="text" id="input_login" name="username" />
					</div>
					<div class="auth_form_div">
						<label for="input_password">Пароль: </label>
						<input type="password" id="input_password" name="password" />
					</div>
					<div class="auth_form_div_btn">
						<button type="submit">Войти</button>
					</div>
				</form>
		</div>
	</span>
</body>

</html>