<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Модель ТС</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
	<script src="js/jquery-3.7.1.js"></script>
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>
<body>
	<div class="container">
		<form class="forms-child"
			  th:method="post"
			  th:action="@{/model}"
			  th:object="${typeDeviceDTO}">
			<span>
				<label for="selTypeDev">Вуберите тип ТС: </label>
				<select  id="selTypeDev" class="select" change="loadSelectDevModel()">
					<option th:each="type : ${types}" th:value="${type.id}" th:text="${type.type}"></option>
				</select>
				<script>
					$('#selTypeDev option[value=2]').prop('selected',true);
				</script>
			</span>
			<span id="link"></span>
			<!--<span>
				 <a th:href="@{/add-model-dev/{id}(id=*{id})}">Редактировать</a>
			</span>-->

			<div class ="tbl-div">
				<table class="table" id="tblModelDevice">
					<tr>
						<th class ="col-num">№</th>
						<th class ="col-basic">Модель</th>
						<th class ="col-action">Действие</th>
					</tr>
				</table>
			</div>

			<span>
				<button type="submit">Обновить</button>
			</span>
			<script>
				$(document).ready(loadSelectDevModel);
				$(document).ready(addLink);
				$(document).ready(initEvent);

                function initEvent() {
                    $('#selTypeDev').bind('change', loadSelectDevModel);
                }
                function addLink(){
                	var selTypeIndex=$('#selTypeDev').val();
                	$('#link').append('<a href="/add-model-dev'+selTypeIndex+'">Создать модель ТС</a>');
                }

                function loadSelectDevModel() {
                     	var selTypeIndex=$('#selTypeDev').val();
						var selTypeText=$('#selTypeDev option:selected').text();

                    	$.getJSON('/device/model' + selTypeText)
                    	 .done(function (data) {
                    		$('#tblModelDevice').empty().prop('disabled', false);
                    		console.log(data);
							var models=data;
							console.log(models);
							$.each(models, function(i,item) {

    							$('#tblModelDevice').append('<tr><td>' + i +
    														'</td><td>' + models[i].name +
    														'</td><td><a href="/edit-model-dev'+models[i].id+'" th:href="@{/modelDeviceUpdate'+ models[i].id+'}" class="a-btn">Редактировать</a></td><tr>');
							});
                       });
                    }

			</script>

		</form>
	</div>
</body>

</html>