<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(З)Заявки</title>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style-form.css">
	<script src="js/jquery-3.7.1.js"></script>
</head>

<header>
	<div id="header">
		<script src="js/header.js"></script>
	</div>
</header>

<body>
	<div class="container">

		<form class="forms-child"
			  th:method="get"
			  th:action="@{/Orders}"
			  th:object="${ordersDTO}">

			<span class="margin-t">
				<label for="filtrData">Дата: </label>
				<input id="filtrData" type="date"/>

				<label for="filtrNumOrder">Заявка №: </label>
				<input type="text" id="filtrNumOrder" name="filtrNumOrder"/>

				<label for="filtrCSA">КСА: </label>
				<select  id="filtrCSA" th:field="*{csa}">
					<option th:each="csa : ${csas}" th:value="${csa.id}" th:text="${csa.num}"></option>
				</select>

				<label for="filtrStatus">Статус: </label>
				<input type="text" id="filtrStatus" name="filtrStatus"/>

				<button type="button" id="btnFiltrOrder" class="a-btn">Применить</button>
			</span>

			<div class ="tbl-div">
				<table class="table" id="tblDevice">
					<tr>
						<th class ="dev-col-num">№</th>
						<th>Дата</th>
						<th>№заявки</th>
						<th>КСА</th>
						<th>Техническое средство</th>
						<th>Описание</th>
						<th>Статус</th>
						<th>Действие</th>
					</tr>
				</table>
			</div>
			<div>
				<!--<span id="link"><a href="/addOrder?idCSA=1" class="a-btn">Создать заявку</a></span> -->
				<span id="link"></span>
				<span><a href="/" class="a-btn">Назад</a></span>
			</div>

		</form>
	</div>
	<script>
		$(document).ready(loadOrders);

        function loadOrders() {
            console.log("выполняется loadOrders");
			$('#link').empty().prop('disabled', false);
            $('#link').append('<a href="/addOrder?idCSA=1" class="a-btn">Создать заявку</a>');

        }
	</script>
</body>
</html>