<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Тип ТС</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
</head>

<header>
    <div id="header">
        <script src="js/header.js"></script>
    </div>
</header>
<body>
<div class="container">
    <form class="forms-child"
          th:method="post"
          th:action="@{/type}"
          th:object="${typeDeviceDTO}">

        <span>
            <label>Тип технического устройства</label>
        </span>

        <div class ="tbl-div">
            <table class="table" id="tblModelDevice">
                    <tr>
                        <th class ="col-num">№</th>
                        <th class ="col-basic">Тип ТС</th>
                        <th class ="col-action">Действие</th>
                    </tr>
                    <tr th:each="type : ${types}">
                        <td th:text="${type.id}" class ="col-num"></td>
                        <td th:text="${type.type}"></td>
                        <td>
                            <span class="tbl-td-span-inline">
                                <a href="/editTypeDev" th:href="@{/editTypeDev{id}(id=${type.id})}"
                                   class="a-btn a-btn-tbl">Редактировать</a>
                            </span>
                        </td>
                    </tr>
            </table>
        </div>

        <div>
                <span><a href="/addTypeDev" class="a-btn">Добавить тип ТС</a></span>
                <span><a href="/" class="a-btn">Назад</a></span>
        </div>

    </form>
</div>
</body>
</html>