<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(А)Акт</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css"  href="/css/style-form.css">
	<script src="/js/jquery-3.7.1.js"></script>
	<script src="/js/moment.js"></script>
</head>

<header>
	<div id="header">
		<script src="/js/header-for-dir.js"></script>
	</div>
	<div th:replace="~{index ::navigation}"></div>
</header>

<body>
	<div class="container">
		<form id="addOrder" class="forms-operation" enctype="multipart/form-data"
			  th:method="post"
			  th:action="@{/Acts/addActDev}"
			  th:object="${actDevDTO}">
			<div class="container-addOrder">
				<div  style="text-align:center" th:if="${success}" role="alert">
					<h3>Акт создан!</h3>
				</div>
				<div style="text-align:center" th:if="!${success}">
					<h3>Акт приема-передачи ТС </h3>
				</div>
				<div class="div_error">
					<p th:if="${#fields.hasErrors('err')}"  th:errors="*{err}"></p>
				</div>

				<div class ="tbl-div">
					<input id ="idCSA" type="hidden" th:value="${idFromCSA}" th:field="*{idFromCSA}">
					<input id ="idDevice" type="hidden" th:value="${idSelDev}" th:field="*{idSelDev}">
					<!-- <input sec:authorize="hasRole('ROLE_CSA')" id ="textRestore" type="hidden" th:value="${restore}" th:field="*{restore}"> -->
					<table class="table" id="tblOrder">
						<tr>
							<td style=" font-weight: 600">Дата</td>
							<td class="AlignCenter">
								<input id="orderData" type="date" th:value="${date}" th:field="*{date}"/>
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Акт №</td>
							<td class="AlignCenter">
								<div class="div_error">
									<p th:if="${#fields.hasErrors('num')}"  th:errors="*{num}"></p>
								</div>
								<input id="actNo" type="text" th:value="${actDevDTO.num}" th:field="*{num}"/>
							</td>
							<td></td>
						</tr>
						<tr>
							<td style=" font-weight: 600">Тип акта</td>
							<td class="AlignCenter">
								<select  id="selActTypes" class="select"
										 th:field="*{actType}">
									<option th:each="type : ${types}"
											th:value="${type.id}"
											th:text="${type.type}"
											th:selected="${type.id == actDevDTO.actType.id}">
									</option>
								</select>
							</td>
							<td></td>
						</tr>

						<tr>
							<td style=" font-weight: 600">Техническое средство</td>
							<td class="AlignCenter">
								<div class="div_error">
									<p th:if="${#fields.hasErrors('device')}"  th:errors="*{device}"></p>
								</div>
								<label id="lblActDevice"  for="actDevice"
									   th:text="${actDevDTO.device.model.type.type} + ': ' +
												${actDevDTO.device.model.name}"></label>
								<input type="hidden" id="actDevice" th:value="${device}" th:field="*{device}">
							</td>
							<td>
								<button id="btnSelDev" type="submit" class="a-btn">Выбрать ТС</button>
							</td>
						</tr>
						<tr>
							<td>Серийный №</td>
							<td class="AlignCenter">
								<label id="lblActDeviceSN"  for="actDevice"
									   th:text="${actDevDTO.device.sernum} "></label>
							</td>
							<td></td>
						</tr>

						<tr>
							<td>Инвентарный №</td>
							<td class="AlignCenter">
								<label id="lblActDeviceInvN"  for="actDevice"
									   th:text="${actDevDTO.device.invnum}"></label>
							</td>
							<td></td>
						</tr>

						<tr>
							<td style=" font-weight: 600">Откуда</td>
							<td class="AlignCenter">
								<!-- <select  id="selFromCSA" class="select"
										 th:field="*{fromCSA}">
									<option th:each="csa : ${csas}"
											th:value="${csa.id}"
											th:text="${csa.num}"
											th:selected="${csa.id == actDevDTO.fromCSA.id}">
									</option>
								</select> -->

								<input id ="txtFromCSA" type="hidden" th:value="${fromCSA}" th:field="*{fromCSA}">
								<label id="lblFromCSA"  for="actDevice"
									   th:text="${actDevDTO.fromCSA.num} +', '+ ${actDevDTO.fromCSA.address}">
								</label>

							</td>
							<td></td>
						</tr>

						<tr>
							<td style=" font-weight: 600">Куда</td>
							<td class="AlignCenter">
								<!-- <select  id="selToCSA" class="select"
										 th:field="*{toCSA}">
									<option th:each="csa : ${csas}"
											th:value="${csa.id}"
											th:text="${csa.num}"
											th:selected="${csa.id == actDevDTO.toCSA.id}">
									</option>
								</select> -->
								<input id ="txtToCSA" type="hidden" th:value="${toCSA}" th:field="*{toCSA}">
								<label id="lblToCSA"  for="actDevice"
									   th:text="${actDevDTO.toCSA.num} +', '+ ${actDevDTO.toCSA.address}">
								</label>

							</td>
							<td></td>
						</tr>

						<tr>
							<td style=" font-weight: 600">Заявка №</td>
							<td class="AlignCenter">
								<label id="lblActDevOrderNum"  for="ActDevOrderNum"
									   th:text="${actDevDTO.order.num}"></label>
								<input type="hidden" id="ActDevOrderNum" name="orderNum" th:value="${order}" th:field="*{order}"/>
							</td>
							<td></td>
						</tr>


						<tr>
							<td style=" font-weight: 600">Примечание</td>
							<td class="AlignCenter">
								<input type="text" id="ActDevNote" style="width:99%;text-align:center" name="note"  th:value="${note}" th:field="*{note}"/>
							</td>
							<td></td>
						</tr>

						<tr>
							<td  style="font-weight: 600">Прикрепленные документы</td>
							<td>
								<span id="idListSaveFiles" th:each="file : ${files}" >
									<div class="attached-pictures">
										<a th:href="@{/addOrder/loadPicture(direc=${directory}, fileName=${file})}" target="_blank" th:text="${file}"></a>
										<a th:href="@{/addOrder/downloadPicture(direc=${directory}, fileName=${file})}" class="input-file-download">>></a>
									</div>
								</span>
							</td>
							<td></td>
						</tr>

						<tr>
							<td  style="font-weight: 600">Добавить новые документы</td>
							<td>
								<span id="idListInputFiles"></span>
							</td>
							<td>

							</td>
						</tr>
					</table>
				</div>
			</div>
			<span style="margin:20px 5px 5px 5px">
				<button type="submit" class="a-btn">Добавить</button>
				<a href="/Acts/ActsDev" class="a-btn">Назад</a>
			</span>
		</form>
	</div>

	<script>
                $(document).ready(initEvent);
                $(document).ready(btnSelDev);

                function initEvent() {
                    $('#btnSelDev').bind('click', selDev);
                    $('#orderData').bind('change', setOrderNumDate);
                    $('#idInputFile').bind('change', CreateNewListFiles);
                    $('#selActTypes').bind('click', btnSelDev);
                }

 				function btnSelDev(){
 					console.log("btnSelDev...");
 					var actType=$('#selActTypes').val();
 					console.log("actType= "+actType);
 					if($('#selActTypes option:selected').text()==='(П) движение ТС (КСА >> СЦ)'){
 						console.log("(П) движение ТС (КСА >> СЦ)...");
 						$('#btnSelDev').hide();
 					} else {
 						console.log("else...");
 						$('#btnSelDev').show();
 					}
 				}
                function CreateNewListFiles(){
                    console.log('CreateNewListFiles()...');
					var dt = new DataTransfer();
                    $('#idInputFile').empty();
                    $('#idListInputFiles').empty();

                    for(var i = 0; i < this.files.length; i++){
                        let new_file_item = '<div class="input-file-list-item">' +
                                            '<span class="input-file-list-name">' + this.files.item(i).name + '</span>' +
                                            '<a href="#" onclick="removeFilesItem(this); return false;" class="input-file-list-remove">x</a>' +
                                            '</div>';
                        $('#idListInputFiles').append(new_file_item);
                        dt.items.add(this.files.item(i));
                    };
                    this.files = dt.files;
                    for(var i = 0; i < dt.files.length; i++) {
                        console.log("dt.files.item(i).name:= "+dt.files.item(i).name);
                    };

                }

                function removeFilesItem(target){
                    console.log('removeFilesItem()...');
                    var dt = new DataTransfer();
                    let name = $(target).prev().text();
                    console.log("name = " + name);

                    let input = $(target).closest('.input-file-row').find('input[type=file]');
                    $(target).closest('.input-file-list-item').remove();

                     for(let i = 0; i < $('#idInputFile')[0].files.length; i++){
                        if(name !== $('#idInputFile')[0].files.item(i).name){

                           console.log("(#idInputFile')[0].files.item(i).name:= "+$('#idInputFile')[0].files.item(i).name);
                           dt.items.add($('#idInputFile')[0].files.item(i));
                        }
                    };

                    for(var i = 0; i < dt.files.length; i++) {
                        console.log("dt.files.item(i).name:= "+dt.files.item(i).name);
                    };
					$('#idInputFile').val(null);
                    $('#idInputFile')[0].files = dt.files;
                }

                function setOrderNumDate(){
                	console.log('setOrderNumDate()...');
                    var orderDate=moment($('#orderData').val()).format('YYYYMMDD');
                    console.log("orderDate:= "+orderDate);
                    $('#orderNum').val(orderDate+$('#orderNum').val());
                }

                function selCSA(){
                    var orderNum=$('#orderNum').val();
                    console.log("orderNum:= "+orderNum);
                    $('#addOrder').attr("action","/selCSA")
                }

                function selDev(){
                    console.log("selDev...");
                    $('#addOrder').attr("action","/Acts/selDev")
                }


	</script>

</body>
</html>