<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>(А)Акт п/п ТС</title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style-form.css">
	<script src="/js/jquery-3.7.1.js"></script>
</head>

<header>
	<div id="header">
		<script src="/js/header-for-dir.js"></script>
	</div>
</header>

<body>
	<div class="container">

		<form id = "idActsDev" class="forms-operation"
			  th:method="post"
			  th:action="@{/Acts/FilterActsDev}"
			  th:object="${actDevDTO}">

			<div class="container-inner">
				<span class="margin-t">
					<label for="inFilterDataStart">Дата: </label>
					<label for="inFilterDataStart">c </label>
					<input id="inFilterDataStart" type="date" th:value="${date}" th:field="*{date}"/>
					<label for="inFilterData">по </label>
					<input id="inFilterData" type="date" th:value="${dateEND}" th:field="*{dateEND}"/>
					<label for="inFilterActNo">Акт №: </label>
					<input type="text" id="inFilterActNo" name="FilterActNo" th:value="${num}" th:field="*{num}">


					<button type="submit" id="btnFilterOrder" class="a-btn">Применить</button>
					<span class="div_error">
						<p th:if="${#fields.hasErrors('err')}"  th:errors="*{err}"></p>
					</span>
				</span>

				<div class ="tbl-div">
					<table class="table" id="tblDevice">
						<tr>
							<!-- <th class ="dev-col-num">№</th> -->
							<th>Дата</th>
							<th>Акт №</th>
							<th>Техническое средство</th>
							<th>Серийный №</th>
							<th>Откуда</th>
							<th>Куда</th>
							<th>№заявки</th>
							<th>Действие</th>
						</tr>
						<tr style="text-align:center" th:each="act : ${devActs}">
							<td th:text="${act.date}"></td>
							<td th:text="${act.num}"></td>
							<td th:text="${act.device.model.name}"></td>
							<td th:text="${act.device.sernum}"></td>
							<td th:text="${act.fromCSA.num}"></td>
							<td th:text="${act.toCSA.num}"></td>
							<td th:text="${act.order.num}"></td>

							<td>
								<span class="tbl-td-span-inline">
									<a th:href="@{/Acts/ActDev(id=${act.id})}"
									   class="a-btn a-btn-tbl">Открыть</a>
									<a  sec:authorize="hasRole('ROLE_SERV')" th:href="@{/Acts/ActDevDel(id=${act.id})}"
									   class="a-btn a-btn-tbl">Удалить</a>
								</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div>
				<input type="submit" id="btnSend" style="display:none;">
				<span id="link"></span>
				<span><a href="/" class="a-btn">Назад</a></span>
			</div>

		</form>
	</div>
	<!-- <script>
		$(document).ready(initEvent);

         function initEvent() {
         	$('#btnFilterOrder').bind('click', appFilterToOrder);
         }

		function appFilterToOrder(){
			console.log("appFilterToOrder...");
			var d=$('#filterData').val();
			var ActNo=$('#filterActNo').val();
			var uri = "/Acts/filterActsDev?d="+d+"&ActNo=" + ActNo
			console.log("d= "+d);
			console.log("ActNo= "+ActNo);
			console.log("uri= "+uri);
			$('#idActsDev').attr("action", encodeURI(uri));
			$('#btnSend').click();
		}
	</script> -->
</body>
</html>